*{
    margin: 0 auto;

}

.container{
    width:80%;
    margin-top:5%;
}
.main-body{
    display:flex;
    width:80%;
}

.col, form{
    display: flex;
    flex-direction: column;
}

table{
    border: 2px solid black;
    padding:5% 15%;
    margin-bottom:15px;
}