<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninja Confirmaion</title>
</head>
<body>
    Ninja Confirmed Here. 

    <div>First Name: {{ session['fname'] }}</div>
    <div>Last Name: {{ session['lname'] }}</div>
    <div>Age: {{ session['age'] }}</div>
    <H2> Has been added to the ------- .</H2>
    <a href="/dojos">Looks Good. Take me Home.</a>
    <a href="/edit_ninja">Oops. I need to fix one more thing. </a>
</body>
</html>