<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/style.css')}}">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Counter</title>
</head>
<body>
<div class ="container">
        <h1>Counter</h1>
    
    <div>
        <h4>{{session['visits']}}</h4>
    </div>
    <div>
        <form action="/">
            <button class="btn btn-outline-success" name = "add_by_one_btn" value="1">Add 1</button>
        </form>
        <form action="/2">
            <button class="btn btn-outline-success" name = "add_by_two_btn" value="2">Add 2</button>
        </form>
        <form action="/u" method="POST">
            <label>Add By: </label>
            <input type="text" name="user_add_by">
            <button class="btn btn-outline-success">Add</button>
        </form>
        <form action="/destroy_session">
            <button class="btn btn-outline-danger"name="clear_button" value="3">Clear</button>
        </form>
    </div>
</div>
</body>
</html>