*{
    margin: 0 auto;
}

.main-row{
    border: 2px solid blue;
    display: flex;
    margin-top:5%;
    width:50%;
}

table{
    border: 2px solid black;
}

.add-ninja-container,.add-ninja-form{
    display:flex;
    flex-direction: column;
    margin-top:5%;
}