*{
    margin: 0 auto;
}

.main-row{
    display: flex;
    margin-top:5%;
    width:90%;
}
.edit-ninja-col{
    width:50%;
}
.col, table, a, th{
    color: rgb(225, 200, 125);
    font-size:1.3rem;
}
.col{
    background-color: slategray;
    margin: 0 4%;
    padding: 3%;
}

.col-1{
    height:200px;
    flex: 1;
}

table{
    border: 2px solid black;
}
a{
    font-size: 1.3rem;
}

.add-ninja-container,.add-ninja-form, .dojo-info-container{
    display:flex;
    flex-direction: column;
    margin-top:5%;
}
.confirm-ninja-bttns{
    display:flex;
    margin-top:4%;
}

label{
    font-size: 1.3rem;
}


.sub-btn{
    color:rgb(225, 200, 125);
    background-color: slategray;
    margin-top:3%;
    width:250px;
    align-self: center;
    border-radius: 20px;
    box-shadow: 2px 2px 2px black;
}

.cnfrm{
    margin-top:5%;
}





