<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <title>Update User</title>
</head>
<body>
    <div class="container">
        <div id="home-link"> <a href="/">Home</a>  </div>
        <h1>Update User Info</h1>
        <form action="/users/update_data" method='POST'>
            <input  type="hidden" name="id" value={{user.id}}>
            <div class = "row">
            <label>First Name: </label>
            <input type="text" name="fname" value={{user.first_name}}>
            </div>
            
            <div class = "row">
            <label>Last Name: </label>
            <input type = "text" name = "lname" value={{user.last_name}}>
            </div>
    
            <div class = "row">
            <label >Email:</label>
            <input type="text" name="email" value={{user.email}}>
            </div>
    
            <input type="submit" value = "Update Info" id="submit_button">
        </form>
    
    
    
    
    
    </div>
    
</body>
</html>